* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
}
.SignUpLink {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}
.SignUpLink a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 425px) and (min-width: 375px) {
  body {
    overflow-x: hidden;
  }
  .SignUpLink {
    width: 100% !important;
    font-size: 10px;
    text-align: center;
  }
  .Search {
    display: none;
  }
  .NavLinks {
    display: none;
  }
  .MainText {
    text-align: center;
  }
  .Counting {
    display: flex;
    flex-direction: column;
  }
  .Content {
    display: flex;
    flex-direction: column;
  }
  .Brands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .Brands .CK {
    white-space: nowrap;
  }
  .cloth_Section {
    display: grid;
  }
}

@media screen and (max-width: 375px) and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .SignUpLink {
    width: 100% !important;
    font-size: 10px;
    text-align: center;
  }
  .Search {
    display: none;
  }
  .NavLinks {
    display: none;
  }
  .MainText {
    text-align: center;
  }
  .Counting {
    display: flex;
    flex-direction: column;
  }
  .Content {
    display: flex;
    flex-direction: column;
  }
  #MainImage {
    object-fit: cover;
    max-width: 100%;
  }
  .cloth_Section {
    display: grid;
  }
  .Brands {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .SignUpLink {
    width: 100% !important;
    font-size: 10px;
    text-align: center;
  }
  nav .NavSection .ToolOptions {
    display: none;
  }
  .Search {
    display: none;
  }
  .Content {
    display: flex;
    flex-direction: column;
  }
  .MainText {
    width: auto;
    padding-top: 50px !important;
    text-align: center;
  }
  .Counting {
    display: flex;
    flex-direction: column;
  }
  .count1 {
    text-align: center;
  }

  .MainImage {
    text-align: center;
  }
  #MainImage {
    object-fit: cover;
    max-width: 100%;
  }
  .Brands {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .cloth_Section {
    display: grid !important;
  }
  .cloth_Section div {
    padding-top: 20px;
  }
  .Navlogo {
    font-size: 30px !important;
    padding-top: 10px;
  }
  .CartButton img {
    height: 30px !important;
  }
  .MText {
    font-size: 35px !important;
  }
  .DesText {
    font-size: 20px !important;
    margin-left: 10px;
    margin-right: 10px;
  }
  .ItemsText {
    padding-top: 40px !important;
  }
  .viewall {
    margin-top: 30px;
  }
  .LatestOffer {
    display: none;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .OfferText {
    text-align: center;
  }
}
