header {
  background-color: white;
  border-bottom: 1px solid rgb(237, 235, 235);
  position: sticky;
  top: 0;
}
.Navlogo {
  padding-top: 7px;
  font-style: Sans-serif;
  font-weight: 900;
  font-size: 35px;
  display: flex;
  justify-content: space-between;
}

.ShopLink {
  position: relative;
}
.dropdown {
  position: absolute;
  display: none;
}

.NavLinks {
  display: flex;
  color: black;
  padding-top: 15px;
  list-style-type: none;
  text-decoration: none;
  vertical-align: baseline;
  gap: 60px;
}

.ShopLink:hover .dropdown-content {
  display: block;
  border: none;
  width: auto;
  background-color: white;
}
.NavSection {
  display: flex;
  justify-content: space-around;
}
#SearchBar {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  border: none;
  background-color: rgb(233, 231, 228);
  border-radius: 20px;
  padding: 5px 50px 5px 10px;
  background-image: url("./images/searchicon.png");
}
.dropdown-content {
  display: none;
  font-size: 10px;
  padding: 12px 16px;
  position: absolute;
  background-color: white;
  min-width: 160px;
  margin: 0px;
  border: none;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.dropdown-content a {
  background-color: white;
  font-size: 20px;
  line-height: 30px;
}
.dropdown-content .border-bottomm {
  border-bottom: 1px solid rgb(235, 232, 232);
}
.dropdown-content a:hover {
  background-color: white;
  border: none;
}
.CartContact {
  display: flex;
  margin-top: 10px;
}
.CartContact a img {
  height: 40px;
}
.CartButton {
  border: none;
}
li a {
  display: block;
  color: black;
  padding-top: 7px;
  text-decoration: none;
  font-size: 20px;
}
.CartButton img {
  height: 40px;
}
.MText {
  font-size: 20px;
}
