.Navlogo {
  font-style: Sans-serif;
  font-weight: 900;
  font-size: 40px;
}
.Navlogo {
  display: flex;
}

.NavLinks {
  display: flex;
  padding-top: 15px;
  list-style-type: none;
  vertical-align: baseline;
  gap: 30px;
}
.dropdown {
  display: none;
}
.ShopLink:hover .dropdown {
  display: block;
}
.NavSection {
  display: flex;
}
#SearchBar {
  margin-top: 5px;
  font-size: 15px;
  border: none;
  background-color: rgb(233, 231, 228);
  border-radius: 20px;
  padding: 5px 0px 5px 10px;
  background-image: url("./images/searchicon.png");
}
